@page
@model Shows4.App.Pages.User.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="series">
    @foreach (var item in Model.Serie)
    {
        //Cria a CArd de Series 
        //Busca na base dados os dados do referentes ao Id
        <div class="serie-card" onclick="window.location.href='/Home/SerieDetail?serieId=@item.Id'">
            <div class="serie-image">
                <!-- Caso nao exista imagem, aparece uma imegem que e disponibilizada pela web -->
                <img src="/Uploads/@item.Image" onerror="this.onerror=null; this.src='https://images.unsplash.com/photo-1609743522653-52354461eb27?auto=format&fit=crop&q=80&w=2787&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'">
            </div>
            <div class="serie-info">
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                <h class="price"4>@Html.DisplayFor(modelItem => item.Price)</h>
                
              
            </div>
        </div>
    }
</div>
@if (Model.TotalPages > 1)
{
    <nav class="navpagination">
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-page="./Index" asp-route-currentPage="@(Model.CurrentPage - 1)">Anterior</a>
                </li>
            }
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-page="./Index" asp-route-currentPage="@i">@i</a>
                </li>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-page="./Index" asp-route-currentPage="@(Model.CurrentPage + 1)">Próximo</a>
                </li>
            }
        </ul>
    </nav>
}
