@page "{id}"

@model Shows4.App.Pages.Entities.Seasons.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Season - @Model.Serie.Title</h1>

<p>
    <a asp-page="Create" asp-route-id="@Model.Serie.Id">Create New Season</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Season Number
            </th>
            <th>
               Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Season) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" asp-route-serieId="@item.SerieId">Edit</a> |
                
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
