@page 
@model Shows4.App.Pages.Entities.Episodes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div style="display: flex; justify-content: space-between;">
    <a asp-page="Create" asp-route-id="@Model.Season.Id" class="btn btn-primary">Create New Episode</a>
    <a asp-page="../Seasons/Index" asp-route-id="@Model.Season.SerieId" class="btn btn-secondary">Back to seasons</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Number Episode
            </th>
            <th>
                Title Episode
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Episode) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" asp-route-serieId="@item.SeasonId">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" asp-route-serieId="@item.SeasonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
