@page
@model Shows4.App.Pages.Entities.Countries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Codigo Pais
            </th>
            <th>
               Nome
            </th>
            <th>Açoes</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Countries) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alpha2Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
