@page
@model Shows4.App.Pages.Entities.Casts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cast</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cast.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cast.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cast.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cast.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cast.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cast.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cast.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cast.Country.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cast?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
